<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>系统设置
            <small>角色管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统设置</el-breadcrumb-item>
            <el-breadcrumb-item>角色管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="角色关键字/角色名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="findPageByString()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>


            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" label="角色名称" align="center"></el-table-column>
                <el-table-column prop="keyword" label="角色关键字" align="center"></el-table-column>
                <el-table-column prop="description" label="描述" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>


            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>

            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增角色" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色名称" prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色关键字" prop="keyword">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="描述" prop="description">
                                                <el-input v-model="formData.description" type="textarea"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="菜单信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>菜单名称</th>
                                            <th>描述</th>
                                            <th>菜单等级</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in menuData">
                                            <td>
                                                <input :id="c.id" v-model="menuIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>

                                            <td><label :for="c.id">{{c.description}}</label></td>

                                            <td><label :for="c.id">{{c.level}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <el-tab-pane label="权限信息" name="third">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限名称</th>
                                            <th>权限关键字</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in permissionData">
                                            <td>
                                                <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                        </el-tabs>


                    </template>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>


            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑角色信息" :visible.sync="dialogFormVisible4Edit">

                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                                         label-width="100px">
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色名称" prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色关键字" prop="keyword">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="描述" prop="description">
                                                <el-input v-model="formData.description" type="textarea"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="菜单信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>

                                            <th>描述</th>

                                            <th>菜单等级</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in menuData">
                                            <td>
                                                <input :id="c.id" v-model="menuIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>

                                            <td><label :for="c.id">{{c.description}}</label></td>

                                            <td><label :for="c.id">{{c.level}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <el-tab-pane label="权限信息" name="third">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限名称</th>
                                            <th>权限关键字</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in permissionData">
                                            <td>
                                                <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                        </el-tabs>


                    </template>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            menuData: [],//新增和编辑表单中对应的其他列表数据
            menuIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            permissionData: [],//新增和编辑表单中对应的其他列表数据
            permissionIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            rules: {//校验规则
                keyword: [{required: true, message: '角色关键字为必填项', trigger: 'blur'}],
                name: [{required: true, message: '角色名称为必填项', trigger: 'blur'}]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage()
        },
        methods: {
            //权限提示
            showMessage(r) {
                if (r == 'Error: Request failed with status code 403') {
                    this.$message.error('权限不足，无法访问');

                } else {
                    this.$message.error('未知错误');

                }
            },

            //编辑
            handleEdit() {
                //dataEditForm
                this.$refs['dataEditForm'].validate((valid) => {
                    if (valid) {
                        axios.post('/role/update.do?pIds=' + this.permissionIds + "&mIds=" + this.menuIds,
                            this.formData
                        ).then(res => {
                            if (res.data.flag) {
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                            } else {
                                this.$message.error(res.data.message)
                            }
                        }).finally(() => {
                            this.dialogFormVisible4Edit = false;
                            this.findPage();
                        }).catch((r) => {
                            this.showMessage(r);
                        })
                    } else {
                        this.$message.error("表单提交信息有误");
                        return false;
                    }
                });
            },
            //添加
            handleAdd() {
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        axios.post('/role/save.do?pIds=' + this.permissionIds + "&mIds=" + this.menuIds,
                            this.formData
                        ).then(res => {
                            if (res.data.flag) {
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                            } else {
                                this.$message.error(res.data.message)
                            }
                        }).finally(() => {
                            this.dialogFormVisible = false;
                            this.findPage();
                        }).catch((r) => {
                            this.showMessage(r);
                        })
                    } else {
                        this.$message.error("表单提交信息有误");
                        return false;
                    }
                });

            },
            //按条件查询
            findPageByString() {
                this.pagination.currentPage = 1;
                this.findPage()
            },
            //分页查询
            findPage() {
                var param = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                };
                axios.post('/role/findPageList.do', param).then(res => {
                    var flag = res.data.flag;
                    var total = res.data.data.total;
                    var rows = res.data.data.rows;
                    if (flag) {
                        this.dataList = rows;
                        this.pagination.total = total;
                    }
                }).catch((r) => {
                    this.showMessage(r);
                })
            },
            // 重置表单

            resetForm() {
                this.menuData = [];
                this.permissionData = [];
                this.formData = {}
            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.activeName = 'first';
                axios.post('/menu/findAllList.do').then(res => {
                    this.$message({
                        message: res.data.message,
                        type: res.data.flag ? 'success' : 'error'
                    });
                    if (res.data.flag) {
                        this.menuData = res.data.data;
                    }
                });
                axios.post('/permission/findAllList.do').then(res => {
                    this.$message({
                        message: res.data.message,
                        type: res.data.flag ? 'success' : 'error'
                    });
                    if (res.data.flag) {
                        this.permissionData = res.data.data;
                    }
                });
                this.dialogFormVisible = true
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.activeName = 'first';
                this.resetForm();


                axios.post('/role/findById.do?id=' + row.id).then(res => {

                    var flag = res.data.flag;
                    if (flag) {
                        axios.post('/menu/findAllList.do').then(res => {

                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? 'success' : 'error'
                            });
                            if (res.data.flag) {
                                this.menuData = res.data.data;
                                axios.get("/menu/findIdsByRoleId.do?rId="+row.id).then(res=>{
                                    if (res.data.flag){
                                        this.menuIds = res.data.data
                                    }
                                })
                            }
                        });
                        /*                       this.menuIds = res.data.data.menus;
                        this.permissionIds = res.data.data.permissions;*/
                        axios.post('/permission/findAllList.do').then(res => {
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? 'success' : 'error'
                            });
                            if (res.data.flag) {
                                this.permissionData = res.data.data;
                                axios.get("/permission/findIdsByRoleId.do?rId="+row.id).then(res=>{
                                    if (res.data.flag){
                                        this.permissionIds = res.data.data
                                    }
                                })
                            }
                        });
                        this.dialogFormVisible4Edit = true;
                        this.formData = res.data.data;

                    } else {
                        this.$message.error("获取数据失败，请刷新当前页面");
                    }
                }).catch((r) => {
                    this.showMessage(r);
                });


            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                this.$confirm('此操作将永久删除该检查项, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post('/role/deleteById.do?id=' + row.id).then(res => {
                        var flag = res.data.flag;
                        var message = res.data.message;
                        if (flag) {
                            this.$message({
                                type: 'success',
                                message: message
                            });
                            // this.findPage();
                        } else {
                            this.$message({
                                type: 'error',
                                message: message
                            });
                        }
                        this.findPage();
                    }).catch((r) => {
                        this.showMessage(r)
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }
    })
</script>
</html>